/*--------header----------*/
html {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
}

body {
  border-color: #000000;
  border-style: solid;
  margin: 1px 1px;
}

header {
  background-color: #75e2e6;
  margin: 0px auto;
  border-bottom-style: solid;
  border-bottom-color: #048eaa;

}

a:link {
  text-decoration: none;
}

a:visited {
  color: #000000;
}

span {
  color: black;
}

.links {
  display: inline-block;
  color: #000000;
  float: right;
  margin-left: 6px;
  padding-right: 10px;
  margin-top: 10px;
  position: relative;
  top: 1%;
}

.logo {
  margin: 5px;
  width: 50px;
  padding-left: 12px;
  padding-top: 5px;
}

/* -----------------------------main section----------------------- */
h1 {
  color: #ffffff;
  margin-top: 0;
  padding: 10px 0;
  font-weight: 100 ;
}
main {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/park.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0px auto;
  height: 444px;
  border-bottom-style: solid;
  border-bottom-color: #048eaa;
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name-tag {
  color: white;
  position: relative;
  right: 217px;
  font-weight: 300;
  margin-bottom: 5px;
}

.form-title {
  display: block;
  border: none;
  width: 465px;
  height: 38px;
  margin: auto auto 15px auto;
  font-size: 22px;
  padding-left: 10px;

}

.form-button {
  width: 475px;
  height: 45px;
  background-color: #75e2e6;
  color: #000000;
  font-size: 17px;
}


.hero-subtitle {
  font-weight: 700;
}

/*----------------- 3 Dog Section -------------------------------------------------*/

section {
  margin: 43px auto;
  position: relative;
  left: 6%;
}

.dog-button {
  height: 50px;
  width: 325px;
  margin: 5px 0;
  background-color: #048eaa;
  color: #ffffff;
  padding: 8px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  vertical-align: top;
  vertical-align: baseline;
}

.dog-info {
  text-align: left;
  margin: auto 87px;
  min-height: 232px;
}

div {
  padding-left: 0px;
}

.dog-box {
  display: inline-block;
  width: 488px;
  text-align: center;
}

.dog-pictures {
  border-radius: 50%;
  border-color: #048eaa;
  border-style: solid;
  border-spacing: 5;
  height: 151px;
  align-items: center;
  margin: 1%;
}

h2 {
  margin-bottom: 35px;
}

footer {
  background-color: #048eaa;
  margin: 0px auto;
  text-align: center;
  height: 181px;
  padding: 14px;
}

#footer-title {
  color: #ffffff;
  padding-top: 17px;
  font-size: 20px;
}

.media-button {
  height: 36px
  width: 54px;
}

.social-media {
  margin-left: 12px;
  height: 51px;
  margin-top: 14px;
}
